body{
  background-color: #006927;
}

h1 {
  color: white;
  text-align: center;
}

.row {
  height: 100px;
  width: 300px;
  border: white solid 1px;
}


.square {
  height: 99px;
  width: 98px;
  background-color:white;
  float:left;
  border: black solid 1px;
}
.game {
  
}
