body{
  background-color: #006927;
  margin: auto;
}

header {
  padding: 10px;
  margin-top: 0;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 8px #022F00;
}
h2 {
  text-align: center;
}
p {
  text-align: center;

}

.row {
  height: 100px;
  width: 300px;
  border: white solid 1px;
  margin: auto;
}


.square {
  height: 99px;
  width: 98px;
  background-color:white;
  float:left;
  border: black solid 1px;
  text-align: center;
  text-shadow: 2px 2px 8px #022F00;
  font-size: 60px;
  font-weight: bold;

}
.game {
}
button {
  color: white;
  font-size: 20px;
  background-color: #022F00;
  width: 160px;
  height: 50px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.playerX, .playerO {
  font-size: 24px;
  padding-left: 5px;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
}
.score {
  height: 80px;
  padding-left: 20px;
  justify-content: space-between;
}
